{{- $email := promptStringOnce . "email" "E-mail address" -}}
{{- $fontSize := promptIntOnce . "fontSize" "Font size" 10 -}}
{{- $fontFamily := promptStringOnce . "fontFamily" "Font famaly" "MesloLGM Nerd Font" -}}

{{ $applyFontFamilyAlacritty := promptBoolOnce . "applyFontFamilyAlacritty" "Should it use Alacritty Nerd Fonts" }}

[data]
    email = {{ $email | quote }}
    fontSize = {{ $fontSize }}
    fontFamily = {{ $fontFamily| quote }}
    applyFontFamilyAlacritty = {{ $applyFontFamilyAlacritty }}
