#!/usr/bin/env bash

{{- if eq .chezmoi.osRelease.id "arch" }}
    # install yay
    sudo pacman -S --needed --noconfirm  git base-devel

    if ! command -v yay &> /dev/null; then
        git clone https://aur.archlinux.org/yay.git /tmp/yay
        pushd /tmp/yay
        makepkg -si
        popd
    fi

    if pacman -Qq | grep -E "^vim$" &> /dev/null; then
        sudo pacman -R --noconfirm vim || true
    fi

    yay -Syy --noconfirm --needed \
        zsh doas \
        polkit lxsession-gtk3 \
        rxvt-unicode xsensors \
        xss-lock xscreensaver redshift \
        gnome-keyring seahorse \
        nemo nemo-seahorse clipmenu volctl blueman xfce4-power-manager rofi \
        podman podman-docker \
        gvim ttf-meslo-nerd tmux \
        alsa-utils pavucontrol playerctl \
        j4-dmenu-desktop \
        extra/dconf extra/dconf-editor \
        python-psutil \
        khal

     systemctl --user enable --now ssh-agent
     systemctl --user enable --now gnome-keyring-daemon
     systemctl --user enable --now gcr-ssh-agent.socket


{{- else if eq .chezmoi.osRelease.id "ubuntu" }}

    sudo apt update
    sudo apt-get upgrade -y
    sudo apt install -y \
        build-essential curl git \
        tmux vim-gtk3 \
        doas

{{- end }}

if [[ ! -f /etc/doas.conf ]]; then
    echo "permit persist keepenv ${USER##*\\}" | sudo tee /etc/doas.conf
    sudo chown -c root:root /etc/doas.conf
    sudo chmod -c 0400 /etc/doas.conf
fi
